<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/nav %>
    </header>

    <main>
      <div class="container member">
        <div class="row">
          <div class="col-sm-8">
            <div class="jumbotron">
              <h2 class="display-4 text-dark">Welcome!</h2>
            </div>
          </div>

          <div class="col-sm-4">
            <h2>The Team</h2>
            <p class="lead">
              The work behind the spaces.
            </p>
            <ul class="list-group mt-2 text-dark">
              <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Kevin Steele</h5>
                </div>
                <p class="mb-1">
                  Edit this...
                </p>
                <div class="d-flex justify-content-between mx-3">
                  <div>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/kevdsteele"> @kevdsteele</a>
                  </div>

                  <div>
                    <i class="fas fa-envelope-open"></i>
                    <a href="mailto:kevin@steele.dev"> send a message</a>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">David Pomarede</h5>
                </div>
                <p class="mb-1">
                  Edit this...
                </p>
                <div class="d-flex justify-content-between mx-3">
                  <div>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/DavidPomarede"> @DavidPomarede</a>
                  </div>

                  <div>
                    <i class="fas fa-envelope-open"></i>
                    <a href="mailto:david@pomarede.dev"> send a message</a>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Javier Pagan</h5>
                </div>
                <p class="mb-1">
                  Edit this...
                </p>
                <div class="d-flex justify-content-between mx-3">
                  <div>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/javierjpagan"> @javierjpagan</a>
                  </div>

                  <div>
                    <i class="fas fa-envelope-open"></i>
                    <a href="mailto:javier@pagan.dev"> send a message</a>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Aaron Keisler</h5>
                </div>
                <p class="mb-1">
                  Edit this...
                </p>
                <div class="d-flex justify-content-between mx-3">
                  <div>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/brityank"> @brityank</a>
                  </div>

                  <div>
                    <i class="fas fa-envelope-open"></i>
                    <a href="mailto:aaron@keisler.dev"> send a message</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
