<!-- views/pages/contact.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">
          <i class="fas fa-chevron-left"></i> Contact us /<i
            class="fas fa-chevron-right"
          ></i>
        </h2>
        <p class="text-center w-responsive mx-auto mb-7">
          Do you have any questions? Please do not hesitate to contact us
          directly. Our team will come back to you as soon as possible.
        </p>

        <div class="row">
          <div class="col-md-9 mb-md-0 mb-5">
            <form
              id="contact-form"
              name="contact-form"
              action="/contact"
              method="POST"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                    />
                    <label for="name" class="">Your name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"
                    />
                    <label for="email" class="">Your email</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="subject"
                      name="subject"
                      class="form-control"
                    />
                    <label for="subject" class="">Subject</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea
                      type="text"
                      id="message"
                      name="message"
                      rows="2"
                      class="form-control md-textarea"
                    ></textarea>
                    <label for="message">Your message</label>
                  </div>
                </div>
              </div>
            </form>
            <div class="text-center text-md-left">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="status"></div>
          </div>
          <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p class="mt-1">Washington, DC 20005, USA</p>
              </li>

              <li>
                <i class="fas fa-phone mt-4 fa-2x"></i>
                <p class="mt-1">+1 555 555 5555</p>
              </li>

              <li>
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p class="mt-1">contact@flexspace.com</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
