<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/nav %>
    </header>

    <main class="container member">
      <div class="jumbotron">
        <h3>404 Not Found</h3>
      </div>
    </main>
  </body>
</html>
