<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>
  <% include ../partials/nav.ejs %>
  <div class="container member mb-0 ml-auto mr-auto">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Welcome <span class="member-name pr-2" ></span>
          <a href="/viewrooms"> <i class="fas fa-lg fa-search  fa-lg"></i></a>

           for a room
        </h2>


      </div>



    </div>
  </div>

  <div class="container">

    <div class="card ">
      <div class="card-header text-center members-title">


            My Reservations

      </div>


      <div class="card-body text-center" >
        <h5 class="card-title d-none">No reservations found</h5>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Room Name</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Duration</th>
              <th scope="col">Cost</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody id="my-reservations">

           </tbody>
           </table>
      </div>

      <div class="card ">
          <div class="card-header text-center members-title">


                My Past Reservations

          </div>


          <div class="card-body text-center" >
            <h5 class="card-title d-none">No reservations found</h5>

            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Room Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Review</th>
                </tr>
              </thead>
              <tbody id="my-past-reservations">

               </tbody>
               </table>
          </div>

      <div class="card-header text-center members-title">
       Rooms I Manage
      </div>

      <div class="card-body text-center" >
        <h5 class="card-title d-none">No reservations found</h5>

        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Room Image</th>
                <th scope="col">Room Name</th>
                <th scope="col">Room Location</th>
                <th scope="col">Active Reservations</th>
                <th scope="col">Room Reviews</th>
                <th scope="col">Update</th>
              </tr>
            </thead>
            <tbody id="my-rooms">

             </tbody>
             </table>
      </div>

      <div class="card-footer text-center members-title">


          <a href="/addroom"> <i class="fas fa-plus-square fa-lg"></i></a>
 a room
        <a class="search-link" href="/addroom"></a>
      </div>

    </div>

  </div>




          <!-- Modal used to display Room Info-->
          <div class="modal fade" id="show-room-modal" tabindex="-1" role="dialog" aria-labelledby="show-room-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"id="modal-room-name">Room Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body justify-content-center" id="room-name">






                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary float-left">Text me this!</button>
                    <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

          <!-- Modal used to display Reservations per room-->
          <div class="modal fade" id="show-room-res-modal" tabindex="-1" role="dialog" aria-labelledby="show-res-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"id="modal-res-list">Reservations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body justify-content-center" id="reservations-list">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>



            <!-- Modal for Res Del -->


          <div class="modal fade" id="confirm-res-del-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-res-del-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"id="modal-room-name">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body justify-content-center" id="res-del-info">






                  </div>
                  <div class="modal-footer">
                    <button type="submit" id="confirm-res-del-btn" class="btn btn-primary float-left">Confirm</button>
                    <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

             <!-- Modal used to display Res Info-->
          <div class="modal fade" id="show-res-modal" tabindex="-1" role="dialog" aria-labelledby="show-room-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"id="modal-room-name">Reservation Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body justify-content-center pt-1 pb-1" id="res-details">

                      <form>
                        <div class="col-md-8">
                          <div class="form-group row mt-0">
                                  <label for="res-date-input" class=" col-form-label">Reservation Date</label>
                                  <div class="">
                                    <input class="form-control" type="date" value="2019-08-19" id="res-date-input">
                                  </div>
                                </div>

                                <div class="form-group row">



                                    <label class="" for="res-dur-input">Reservation Time</label>

                                      <div class="form-group row ml-1">

                                      <div class="form-group col pl-0 pr-0">
                                          <select class="custom-select " id="res-hh-input">
                                            <option selected>HH</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">01</option>
                                            <option value="14">02</option>
                                            <option value="15">03</option>
                                            <option value="16">04</option>
                                            <option value="17">05</option>
                                            <option value="18">06</option>
                                            <option value="19">07</option>
                                            <option value="20">08</option>
                                            <option value="21">09</option>
                                          </select>
                                      </div>

                                      <div class="form-group col pl-0">
                                          <input class="form-control" type="text" placeholder="00" readonly>
                                       </div>

                                       <div class="form-group col pl-0 pt-2" id="am-pm">

                                       </div>

                                        </div>

                                  </div>

                                    <div class="form-group row">
                                    <label class="" for="res-dur-input">Reservation Duration</label>
                                    <select class="custom-select " id="res-dur-input">
                                      <option selected>Choose...</option>
                                      <option value="1">One hour</option>
                                      <option value="2">Two hours</option>
                                      <option value="3">Three hours</option>
                                      <option value="4">Four hours</option>
                                      <option value="5">Five hours</option>
                                      <option value="6">Six hours</option>
                                      <option value="7">Seven hours</option>
                                      <option value="8">Eight hours</option>

                                    </select>
                                    </div>


                                    <div class="form-group row">
                                      <label for="res-text-input">Reservation details</label>
                                      <textarea class="form-control" id="res-text-input" rows="2"></textarea>
                                    </div>


                                    <div class="form-group row pt-1">
                                    <button  id="update-res-btn" class="btn btn-dark">Update Reservation</button>
                                    </div>
                                  </div>
                                  </form>







                  </div>
                  <div class="modal-footer">

                    <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

              <!-- Modal for Res Del -->


              <div class="modal fade" id="meeting-conflict-modal" tabindex="-1" role="dialog" aria-labelledby="meeting-conflict-modal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title"id="modal-room-name">Meeting Conflict</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body justify-content-center" id="meeting-conflict-info">

                          There is a meeting conflict. Please adjust your meeting times or search for another room.




                      </div>
                      <div class="modal-footer">

                        <button type="button" id="conflict-close" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>

                      <!-- Modal for Submit Reviews-->

                      <div class="modal fade" id="submit-review-modal" tabindex="-1" role="dialog" aria-labelledby="submit-review-modal" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title"id="modal-room-name">Review Room</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body justify-content-center" id="review-form">

                                  <form>
                           
                                      <div class="form-group">
                                          <label for="room-rating">Please rate your overall room experience</label>
                                         
                                        </div>

                                      
                                      <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="review-rating" id="inlineRadio1" value="1">
                                          <label class="form-check-label" for="inlineRadio1">1 (Worst)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="review-rating" id="inlineRadio2" value="2">
                                          <label class="form-check-label" for="inlineRadio2">2</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="review-rating" id="inlineRadio3" value="3">
                                          <label class="form-check-label" for="inlineRadio3">3</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="review-rating" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>
                                          </div>

                                          <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="review-rating" id="inlineRadio3" value="5">
                                              <label class="form-check-label" for="inlineRadio3">5 (Best)</label>
                                            </div>

                                        <div class="form-group pt-4">
                                            <label for="exampleFormControlTextarea1">Any additonal feedback?</label>
                                            <textarea class="form-control" id="review-message" rows="3"></textarea>
                                          </div>

                                          <button type="submit" id="submit-review"class="btn btn-primary mt-4">Submit</button>

                                    </form>
                                  
                                
            
                                     
                                    
                              </div>
                              <div class="modal-footer">
                               
                                <button type="button" id="conflict-close" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div>
                          </div>
                        </div>


                                <!-- Modal used to display Reviews per room-->
          <div class="modal fade" id="show-room-rev-modal" tabindex="-1" role="dialog" aria-labelledby="show-room-rev-modal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"id="modal-rev-list">Reviews</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body justify-content-center">
                    
                      <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Reviewer Name</th>
                          <th scope="col">Reviewer email</th>
                          <th scope="col">Reviewer phone</th>
                          <th scope="col">Room Rating</th>
                          <th scope="col">Room Review</th>
                         
                          
                        </tr>
                      </thead>
                      <tbody id="reviews-list">
            
                       </tbody>
                       </table>
                      
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div>




  <% include ../partials/footer.ejs %>
  </body>
</html>
