<html>
  <head>
    <% include ../partials/head.ejs %>
    
  </head>
  <% include ../partials/nav.ejs %>
  <div class="container member mx-auto">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card ">
      <div class="card-header text-center" id="cal-room-name">
      
      </div>
      <div class="card-body text-center" id="reservation-render">
      
      </div>
      <div class="card-footer text-center">
      
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/rendercalender.js"></script>
  <% include ../partials/footer.ejs %>
</html>


<!--Add user login param to show in Welcome -->