<html>
  <head>
    <% include ../partials/head.ejs %>

  </head>
  <body padding-top:20px>

    <header>
  <% include ../partials/nav.ejs %>

  <div class="container member mx-auto">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Submit your review</h2>
      </div>
    </div>
  </div>
</header>

    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Full Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="review-message" name="message" placeholder="Please enter your feedback here..." rows="5"></textarea>
              </div>
            </div>


            <!-- Rating -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your rating</label>
              <div class="col-md-9">
                <input id="review-rating" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
              </div>
            </div>
    </td>
    <td align="center" valign="top" width="23%">
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" id="submit-review" class="btn btn-primary btn-md">Submit</button>
                <button type="reset" class="btn btn-default btn-md">Clear</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
    </div>
    </td>
    </tr>
    </table>
</div>

  <% include ../partials/footer.ejs %>
</body>
</html>

<!--Add user login param to show in Welcome -->
